.add-course-form{
    width: 700px;
    margin: 10px 0 0 1200px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.add-course-form label{
    
    /* margin: 0 0 20px 0; */
    /* border: 3px solid black; */
    font-size: larger;
    font-weight: bold;
}

.man-cou{
    /* border: 3px solid black; */
}
.cur-card{
    margin: 20px;
    padding: 155px;
    /* border: 3px solid black; */
}

.bu-cur{
    margin-left: 1080px;
    margin-top: -8.5%;
}